yt-live-chat-app, #contents, body, html {
    background-color: #d5d5d5 !important;
}

yt-live-chat-header-renderer, yt-live-chat-message-input-renderer, yt-live-chat-viewer-engagement-message-renderer {
    display: none !important;
}

yt-live-chat-text-message-renderer p, yt-live-chat-text-message-renderer span {
    font-size: 20px !important;
    font-family: Orbitron;
    color: black !important;
}

yt-live-chat-author-chip p, yt-live-chat-author-chip span {
    color: #1c71d8 !important;
}
